.Header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  background-color: rgba($color: rgb(197, 197, 197), $alpha: .4);
  border-bottom: .3rem solid #fff;
  &-Inner {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}